.choose-bars-module {
  position: absolute;
  border: 2px solid lightgreen;
  background-color: lightgrey;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  height: 70vh;
  width: 70vw;
  opacity: 97%;
  z-index: 100;
}